/*

filename: lab04.css

author: Nguyen Tuan Anh

created: 28/09/2025

last modified: 28/09/2025

description: css file for lab04

*/

/*basic style*/
/*special elemtents effect*/
/*pseudo classes*/

* { font-family: calibri, sans-serif;
    color:#2F4F4F; 
}
h1 { 
    color:purple;
    font-size: 2em;
    font-weight: bold;
}
nav a{
    text-decoration: none;
    padding:0.2em 0.6em;
    border: 4px solid #ccc;
    
}
hr{
    border-color: black;
    border-width: 1px;
}
h2 {
    display: none;
    color: rgb(0,128,128);
    font-weight: bold;
    font-size: 1.5em;
}
#he{
    color: red;
}
aside, footer{
    font-style: italic;
}
#headings{
    display: inline;
    color:rgb(0, 128, 128);
    font-weight: bold;

}
h1,h2,h3{
    font-family: arial, sans-serif;
}
#sc{
    display: inline;
    color: rgb(0,128,128);
}
.special{
    color: darkorange;
    font-weight: bold;
}
.h{
    text-align: right;
}

ol{
    list-style-type: upper-roman;
}
ol ul{
    list-style-type: square;
}

#list{
    color: rgb(0, 128, 128);
    display: inline;
}
#tables{
    color: rgb(0, 128, 128);
    display: inline;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse:collapse;
}
#hyperlinks{
    color: rgb(0, 128, 128);
    display: inline;
}
nav a:hover{
    background-color: lightblue;
    border-color: darkblue;
}
a:hover{
    color:blueviolet;
}
#images{
    color: rgb(0, 128, 128);
    display: inline;
    padding-left: 400px;
}